cityid,regionid,countryid,countryname,countrycode,Continent,StateProvinceName,cityname,latitude,longitude
"106178","10959","1","Afghanistan","AF","Asia","","","",""
"2955173","520112","1","Afghanistan","AF","Asia","Ghazni","‘Abd ul ‘Azīz Khān","30.9156","61.80703"
"2955142","520112","1","Afghanistan","AF","Asia","Ghazni","‘Abd ur Raḩmān Ya‘qūb","30.9368","61.8714"
"2955141","520112","1","Afghanistan","AF","Asia","Ghazni","Aday","30.75383","61.82568"
"2955184","520112","1","Afghanistan","AF","Asia","Ghazni","Ākhūndī","30.85278","61.885"