go.sum linguist-generated
bundled/assets/css/bootstrap.* linguist-vendored
bundled/assets/js/bootstrap.* linguist-vendored
bundled/words/words-*.txt linguist-vendored
bundled/geography/locations.csv linguist-vendored
bundled/intelligence/cryptonyms.json linguist-vendored
README.md linguist-documentation
logs/* linguist-generated