.idea
.DS_Store
._*
bundled/geography/locations.csv
database/*
!database/.keep
logs/*
!logs/.keep
idoread
idoread.linux
idoread.linux-*
idoread.windows-*.exe
idoread.windows.exe
idoread.windows
idoread.macos-*
idoread.macos
bin/*
!bin/.keep