<div class="col-lg-6 mx-auto text-center">
    <p class="mt-4">
        {{ .domain }} &copy; 2024. All Rights Reserved.
        <br/>
        <a href="{{ .domain }}" title="{{ .company }}">{{ .domain }}</a> is owned and operated by <b>{{ .company }}</b>.
    </p>
    <p>
        <a href="/legal/license" title="License" target="_blank">License</a>
        &middot;
        <a href="/legal/terms" title="Terms of Service" target="_blank">Terms of Service</a>
        &middot;
        <a href="/legal/privacy" title="Privacy Policy" target="_blank">Privacy Policy</a>
        &middot;
        <a href="/legal/coppa" title="Children Online Privacy Protection Act (COPPA)" target="_blank">COPPA</a>
        &middot;
        <a href="/legal/gdpr" title="European Union: General Data Protection Regulation (GDPR)" target="_blank">GDPR</a>
        <br>
        <a href="/legal/community-standards" title="Community Standards" target="_blank">Community Standards</a>
        &middot;
        <a href="/contact" title="Contact {{ .company }}" target="_blank">Contact Us</a>
        &middot;
        <a href="/dark" title="Enable Dark Mode" class='{{ if eq .is_dark_mode "1" }}fw-bolder{{else}}fw-light{{end}}'>Dark</a>
        &#47;
        <a href="/light" title="Enable Light Mode" class='{{ if eq .is_dark_mode "0" }}fw-bolder{{else}}fw-light{{end}}'>Light</a>
        Mode
    </p>
    <p>
        <small>
            {{ online_users }} online within last {{ online_cache_delay }} minute{{ if gt online_cache_delay 2 }}s{{ end }}.
        </small>
    </p>
</div>