<div class="">
    <a href="/" title="Home">Home</a>
    &middot;
    <a href="/documents" title="All Documents">Documents</a>
    &middot;
    <a href="/stumbleinto" title="StumbleInto®">StumbleInto</a>
    &middot;
    <a href="/status" title="Status">Status</a>
    &middot;
    <a href="https://github.com/ProjectApario/reader" title="Source Code" target="_blank">
        Source Code ↗
    </a>
    &middot;
    <a href="https://ko-fi.com/projectapario" title="Give $50 to Project Apario" target="_blank">
        Contribute ↗
    </a>
</div>