<div class="col">
    <div class="card text-center mb-3">
        <a href="/document/{{.document_identifier}}" title="{{ .meta_title }}">
            <img src="/pending-viewport-placeholder.svg" data-src="{{ .cover_medium }}" class="card-img-top lazyload" alt="{{ .meta_record_number }} - {{ .meta_title }}">
        </a>
        <div class="card-body">
            <small class="card-title fw-bolder">{{ .meta_record_number }}</small>
            <small class="card-text fw-light fw-italic">
                {{ if ne .meta_title "" }}
                {{ .meta_title }}
                {{ end }}
                {{ if and (ne .document_pages 0) (ne .page_number 0) }}
                {{ if ne .meta_title "" }}
                <br>
                {{ end }}
                {{ .page_number }} of {{ .document_pages }}
                {{ end }}
                {{ if ne .meta_released_at "" }}
                {{ if and (ne .document_pages 0) (ne .page_number 0) }}
                &middot;
                {{ end }}
                <b>Released</b>: {{ .meta_released_at }}
                {{ end }}
            </small>
            <div class="btn-group btn-group-sm my-2">
                <a href="/document/{{.document_identifier}}" class="btn btn-success">Explore Document</a>
                <a href="{{.url}}" target="_blank" class="btn btn-warning">Source &#8599;</a>
            </div>
        </div>
    </div>
</div>