<!doctype html>
<html lang="en" data-bs-theme='{{ if eq .dark_mode "1" }}dark{{else}}light{{end}}'>
<head>
    <title>{{ .title }}</title>
    {{ render_partial "head" .dark_mode }}
</head>
<body>
<main>
    <div class="px-4 py-3 my-4">
        <div class="text-center">
            {{ render_partial "header_full" .dark_mode }}
        </div>
        <div class="container">
            <p class="lead mb-4 text-center">
                {{ .meta_title }}
                <small>{{ .meta_record_number }} &middot; {{ .document_pages }} Page{{ if gt .document_pages 1 }}s{{end}}</small>
            </p>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                {{ $outer := . }}
                {{ range .pages }}
                    {{ if eq $outer.from "" }}
                        {{ render_page_card .PageIdentifier $outer.dark_mode }}
                    {{ else }}
                        {{ render_page_card_from .PageIdentifier $outer.dark_mode $outer.from }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{ render_partial "footer" .dark_mode }}
    </div>
</main>
{{ render_partial "foot" .dark_mode }}
</body>
</html>