<!doctype html>
<html lang="en" data-bs-theme='{{ if eq .dark_mode "1" }}dark{{else}}light{{end}}'>
<head>
    <title>{{ .title }}</title>
    {{ render_partial "head" .dark_mode }}
</head>
<body>
<main>
    <div class="px-4 py-3 my-4">
        <div class="text-center">
            {{ render_partial "header_full" .dark_mode }}
        </div>
        {{ $outer := . }}
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-8 text-right">
                <img src="/pending-viewport-placeholder.svg" data-src="{{.cover_large}}" class="lazyload img-fluid shadow-sm" alt="Page {{.page_number}} of {{.meta_record_number }}"/>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-4">
                <div class="p-2 text-center">
                    <div class="btn-group mb-1" role="group" aria-label="Pagination">
                        <a href="/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier 1 }}" class="btn btn-outline-primary {{ if eq .i_page 1 }}disabled{{ end }}">First</a>
                        <a href="/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier ( minus .i_page 1 ) }}" class="btn btn-outline-primary {{ if eq .i_page 1 }}disabled{{ end }}">Previous</a>

                        {{ if gt (minus .i_page 3) 1 }}
                        <span class="btn btn-outline-primary disabled">...</span>
                        {{ end }}

                        {{ range $i := sequence (max 1 (minus .i_page 3)) (min .i_total_pages (plus .i_page 3)) }}
                        <a href="/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num $outer.document_identifier $outer.page_identifier $i }}" class="btn btn-outline-primary {{ if eq $outer.i_page $i }}disabled{{ end }}">{{ $i }}</a>
                        {{ end }}

                        {{ if lt (plus .i_page 3) .i_total_pages }}
                        <span class="btn btn-outline-primary disabled">...</span>
                        {{ end }}

                        <a href="/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier ( plus .i_page 1 ) }}" class="btn btn-outline-primary {{ if eq .i_page .i_total_pages }}disabled{{ end }}">Next</a>
                        <a href="/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier .i_total_pages }}" class="btn btn-outline-primary {{ if eq .i_page .i_total_pages }}disabled{{ end }}">Last</a>
                    </div>
                </div>
                <script src="/assets/js/mousetrap.1.6.5.min.js" type="text/javascript"></script>
                <script type="text/javascript">
                    Mousetrap.bind('right', function(){ window.location = "/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier ( plus .i_page 1 ) }}"}, 'keyup');
                    Mousetrap.bind('left', function (){ window.location = "/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier ( minus .i_page 1 ) }}"}, 'keyup')
                    Mousetrap.bind("f p enter", function() { window.location = "/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier 1 }}"}, "keyup")
                    Mousetrap.bind("l p enter", function (){ window.location = "/page/{{ get_pg_id_from_doc_id_def_id_and_cur_pg_num .document_identifier .page_identifier .i_total_pages }}"}, "keyup")
                </script>
                <div class="text-center">
                    <small class="mb-3">
                        <attr title="right arrow key">&nbsp;right&nbsp;</attr> and <attr title="left arrow key">&nbsp;left&nbsp;</attr> arrow keys will go to next and previous pages. <br>
                        <attr title="f as in First">&nbsp;f&nbsp;</attr> <attr title="p as in Page">&nbsp;p&nbsp;</attr> <attr title="enter or return key">&nbsp;enter&nbsp;</attr> takes you to page 1.<br>
                        <attr title="l as in Last">&nbsp;l&nbsp;</attr> <attr title="p as in Page">&nbsp;p&nbsp;</attr> <attr title="enter or return key">&nbsp;enter&nbsp;</attr> takes you to page {{ .i_total_pages }}.
                    </small>
                </div>


                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="metadata-tab" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab" aria-controls="metadata" aria-selected="true">Metadata</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ftn-tab" data-bs-toggle="tab" data-bs-target="#ftn" type="button" role="tab" aria-controls="ftn" aria-selected="false">Full Text Notepad</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="gematria-tab" data-bs-toggle="tab" data-bs-target="#gematria" type="button" role="tab" aria-controls="gematria" aria-selected="false">Gematria</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- first tab -->
                    <div class="tab-pane active" id="metadata" role="tabpanel" aria-labelledby="metadata-tab" tabindex="0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Property</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ $outer := . }}
                            {{ range $key, $value := .metadata }}
                            <tr>
                                <th scope="row">{{ titleize $key }}</th>
                                <td>
                                    {{ if eq $key "Source URL" }}
                                    <a href="{{ $value }}" title="Access Source URL" target="_blank">{{ $value }}</a>
                                    {{ else if eq $key "title" }}
                                    <a href='/document/{{ $outer.document_identifier }}{{ if ne $outer.from "" }}?from={{ $outer.from }}{{ end }}'>{{ $value }}</a>
                                    {{ else if eq $key "record_number" }}
                                    <a href="/download/document/{{ $outer.document_identifier }}/{{ $value }}.pdf" title="Download {{ $value }}.pdf" target="_blank">
                                        Download Full OCR Document &#8599;
                                        ( {{ human_bytes $outer.document_pdf_bytes 3 }} )
                                    </a>
                                    &middot;
                                    <a href="/download/page/{{ $outer.page_identifier }}/{{ $value }}.pdf" title="Download Page {{ $outer.page_number }} of {{ $outer.document_pages }} - {{ $value }}.pdf" target="_blank">
                                        Download Page {{ $outer.page_number }} PDF &#8599;
                                        ( {{ human_bytes $outer.page_pdf_bytes 3 }} )
                                    </a>
                                    {{ else }}
                                    {{ $value }}
                                    {{ end }}
                                </td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                    <!-- second tab -->
                    <div class="tab-pane" id="ftn" role="tabpanel" aria-labelledby="ftn-tab" tabindex="0">
                        <div id="editorjs"></div>
                        <button id="save-button">Save</button>
                        <pre id="output"></pre>

                        <script src="/assets/js/editorjs.2.28.2.js"></script>
                        <script src="/assets/js/editorjs.header.2.8.1.js"></script>
                        <script src="/assets/js/editorjs.marker.1.4.0.js"></script>
                        <script src="/assets/js/editorjs.nested-list.1.4.2.js"></script>
                        <script>
                            const editor = new EditorJS({
                                holderId: "editorjs",
                                tools: {
                                    header: {
                                        class: Header,
                                        inlineToolbar: true,
                                        config: {
                                            placeholder: 'Header'
                                        },
                                    },
                                    text: {
                                        class: Text,
                                        inlineToolbar : true,
                                    },
                                    list: {
                                        class: NestedList,
                                        inlineToolbar: true,
                                        config: {
                                            defaultStyle: 'unordered'
                                        },
                                    },
                                    Marker: {
                                        class: Marker,
                                    }
                                },
                            {{ if eq .enhanced_full_text 1 }}
                            data: {{ .full_text_json_data }}
                            {{ end }}
                            });

                            const saveButton = document.getElementById('save-button');
                            const output = document.getElementById('output');

                            saveButton.addEventListener('click', () => {
                                editor.save().then( savedData => {
                                    output.innerHTML = JSON.stringify(savedData, null, 3);
                                })
                            })
                        </script>
                    </div>
                    <!-- third panel -->
                    <div class="tab-pane" id="gematria" role="tabpanel" aria-labelledby="gematria-tab" tabindex="0">
                        <table class="table">
                            <tr>
                                <td>
                                    <b>English</b>:
                                    <a href="/gematria/english/{{ .gematria.English }}" title="Browse English Gematria {{ .gematria.English }}">{{ .gematria.English }}</a>
                                </td>
                                <td>
                                    <b>Jewish</b>:
                                    <a href="/gematria/jewish/{{ .gematria.Jewish }}" title="Browse Jewish Gematria {{ .gematria.Jewish }}">{{ .gematria.Jewish }}</a>
                                </td>
                                <td>
                                    <b>Simple</b>:
                                    <a href="/gematria/simple/{{ .gematria.Simple }}" title="Browse Simple Gematria {{ .gematria.Simple }}">{{ .gematria.Simple }}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <script type="text/javascript">
                const triggerTabList = document.querySelectorAll('#myTab button')
                triggerTabList.forEach(triggerEl => {
                  const tabTrigger = new bootstrap.Tab(triggerEl)
                  triggerEl.addEventListener('click', event => {
                        event.preventDefault()
                        tabTrigger.show()
                    })
                })
                </script>

            </div>
        </div>
        {{ render_partial "footer" .dark_mode }}
    </div>
</main>
{{ render_partial "foot" .dark_mode }}
</body>
</html>