a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.codex-editor__redactor {
    padding-bottom: 10px !important;
}